[Desktop Entry]
Name=Pi-Apps
Comment=Simple RPI App Store for projects not in the repositories 
Exec=/home/pi/pi-apps/gui
Icon=/home/pi/pi-apps/icons/logo.png
Terminal=false
Type=Application
Categories=Utility;
